<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My Progress Bar</h4>
                <div class="progress m-t-30">
                    <div class="progress-bar bg-primary active progress-bar-striped" style=" height:12px;" [style.width]="getProgress1">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>

                <div class="progress m-t-30">
                    <div class="progress-bar bg-success active progress-bar-striped" style=" height:12px;" [style.width]="getProgress2">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- recibimos como event un number -->
                <app-increment (progressEvent)="progress1 = $event" [valor]="progress1"></app-increment>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment (progressEvent)="progress2 = $event" [valor]="progress2" btnClass="btn-success"></app-increment>
            </div>
        </div>
    </div>
</div>