<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)="changeProgress(-5)">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input type="number" class="form-control" (ngModelChange)="inputChange($event)" [(ngModel)]="progress" [ngClass]="{'is-invalid': progress > 100 || progress < 0}">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)="changeProgress(5)">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>

<!-- los parentesis son eventos output -->
<!-- los corchetes [] son propiedades que escuchan desde el ts -->
<!-- los parentesis corchete ([]) son propiedades que emiten y escuchan desde desde el ts -->