<div id="main-wrapper">
  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- breadcumbs -->
      <app-breadcrumbs></app-breadcrumbs>
      <!-- fin breadcumbs -->

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              This is some text within a card block.
            </div>
          </div>
        </div>
      </div> -->

      <router-outlet></router-outlet>
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->

      <!-- footer -->
      <app-footer></app-footer>
      <!-- end footer -->

    </div>
  </div>

</div>